body{
    direction: ltr;
    text-align: left;
}

.sideNav .opt .xtr {
    margin-right: auto;
    margin-left: 10px;
}

.sideNav .opt .xtr form.open button {
    left: unset;
    right: 0;
    margin-right: 10px;
    margin-left: unset;
}

.sideNav{
    left: -100%;
    right: unset;
}

.sideNav.open{
    left: 0%;
    right: unset;
}

.sideNav .links .drop .ar {
    right: 13px;
    left: unset;
    transform: rotate(270deg);
}

.sideNav .links .drop .ar.open {
    transform: rotate(360deg);
}

.navBar .navCon .links > ul li{
    margin-left: 0;
    margin-right: 15px;
}

.navBar .navCon .links .xtr .srch{
    margin-right: 8px;
    margin-left: 0;
}

.navBar .navCon .links > ul li a{
    font-size: 16px;
}

@media (min-width: 992px){
    .navBar .navCon .links > ul li a{
        font-size: 13px;
    }
}

@media (min-width: 1200px){
    .navBar .navCon .links > ul li a{
        font-size: 16px;
    }
}

.navBar .navCon .links > ul li.drp a:after{
    margin-left: 5px;
    margin-right: 0;
}

.navBar .navCon .links > ul li.drp > ul{
    left: -20px;
    right: unset;
}

.navBar .navCon .links .xtr form.open button {
    right: 0;
    left: unset;
    margin-right: 10px;
    margin-left: unset;
}

.navBar .navCon .logo .icon{
    right: 0;
    left: unset;
}

@media (min-width: 992px){
    .fSlider a .content {
        left: 80px;
        right: unset;
    }
}

@media (min-width: 1200px){
    .fSlider a .content {
        left: 130px;
        right: unset
    }
}

.fSlider .swiper-pagination {
    bottom: 105px;
    display: flex;
    justify-content: flex-start;
    padding-left: 120px;
    padding-right: 0;
}

/* @media (max-width: 991px){
    .fSlider a .content {
        left: 50px;
        right: unset;
    }
} */

@media (max-width: 991px){
    .fSlider .swiper-pagination {
        bottom: 15px;
        display: flex;
        justify-content: center;
        padding-right: 0px;
        padding-left: 0;
    }
}

.navBar .navCon .links > ul li.drp > ul:after{
    left: 30px;
    right: unset;
}

.navBar .navCon .links > ul li.drp > ul li a{
    font-size: 14px;
}

footer .details i {
    margin-right: 10px;
    margin-left: unset;
}

footer .details i.fa-phone{
    transform: rotate(90deg);
}

footer .details{
    margin-left: auto;
    margin-right: unset;
}

footer .detail:not(:last-child) {
    margin-right: 30px;
    margin-left: unset;
}

@media (max-width: 991px){
    footer .details {
        margin-left: unset;
        margin-right: unset;
    }
}

@media (max-width: 767px){
    footer .detail:not(:last-child) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
        text-align: center;
    }

    footer .detail p{
        margin-bottom: 0;
    }
}

.copy a img{
    margin-left: 5px;
    margin-right: 0;
}

@media (max-width: 767px){
    .fSlider a .content h2 {
        font-size: 30px;
    }
    .fSlider a .content p {
        font-size: 30px;
    }
}

@media (max-width: 480px){
    .fSlider a .content h2 {
        font-size: 25px;
    }
    .fSlider a .content p {
        font-size: 25px;
    }
}

@media (max-width: 375px){
    .fSlider a .content h2 {
        font-size: 20px;
    }
    .fSlider a .content p {
        font-size: 20px;
    }
}